ASTRO_DB_REMOTE_URL=https://your-turso-url.turso.io
ASTRO_DB_APP_TOKEN=your-turso-token
PUBLIC_ASTRO_EMAIL_JS_PUBLIC_KEY=your-key
PUBLIC_ASTRO_EMAIL_JS_SERVICE_ID=your-service-id
PUBLIC_ASTRO_EMAIL_JS_TEMPLATE_ID=your-template-id
