---
import Skills from "./Skills.astro";
import Timeline from "./Timeline.astro";
import downloadIcon from "/public/download-icon.svg";
import readIcon from "/public/read-icon.svg";
import yop from "/public/yo.png";
---

<div class='w-full py-6 px-8' id='about'>
  <h2 class='text-2xl font-bold text-center'>
    About <span class='text-[#FFD700]'>Me</span>
  </h2>
  <div
    class='w-full flex flex-col-reverse md:flex-row items-center justify-center md:justify-between gap-4 md:gap-8'
  >
    <p class='text-md py-4'>
      <strong>Hi!</strong>
      <br />
      I'm Diego, a Software Analyst and Developer with one year of experience in
      the field. I have a strong background in designing and building web applications,
      leveraging modern technologies such as React, Node.js, PostgreSQL, TypeScript,
      and Java. My expertise extends to implementing scalable backend solutions and creating dynamic, user-friendly interfaces.
      <br /><br />
      I'm dedicated to continuous learning and enjoy staying updated with the latest
      trends in technology. I excel at problem-solving and thrive on tackling complex
      challenges that drive both personal and professional growth.
      <br /><br />
      Thanks for visiting my website—let's connect and build something amazing!
    </p>

    <div class='avatar pt-6 md:py-0'>
      <div
        class='ring-yellow-300 ring-offset-base-100 w-36 rounded-full ring ring-offset-2'
      >
        <img src={yop.src} alt='Diego Garcia' loading='lazy' />
      </div>
    </div>
  </div>
  <div
    class='w-full flex flex-wrap items-center justify-center md:justify-start gap-2'
  >
    <a href='/Diego_Garcia_CV_EN.pdf' target='_blank' class='btn btn-outline mt-4 group'
      >Show my CV
      <img
        src={readIcon.src}
        alt='read-cv'
        class='object-contain w-6 h-6 group-hover:filter group-hover:invert group-hover:brightness-0'
        loading='lazy'
      />
    </a>
    <a href='/Diego_Garcia_CV_EN.pdf' download class='btn btn-ghost mt-4'
      >Download my CV <img
        src={downloadIcon.src}
        alt='download-cv'
        class='object-contain w-6 h-6'
        loading='lazy'
      /></a
    >
  </div>
  <Timeline />
  <Skills />
</div>
