---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Summary from "../components/home/Summary.astro";
import BrandsCarousel from "../components/home/BrandsCarousel.astro";
import Experience from "../components/home/Experience.astro";
import About from "../components/about/About.astro";
import Contact from "../components/contact/Contact.astro";
---

<Layout title='Welcome to Dagadev'>
  <Header />
  <main class='w-full md:max-w-[700px] mx-auto'>
    <Summary />
    <BrandsCarousel />
    <About />
    <Experience />
    <Contact />
  </main>
  <footer class='w-full text-center py-4'>
    <h3 class='text-sm font-bold'>Made with 💗 by Diego Garcia</h3>
  </footer>
</Layout>
