---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Summary from "../components/home/Summary.astro";
---

<Layout title='Welcome to Dagadev'>
  <Header />
  <main class='max-w-[700px] mx-auto'>
    <Summary />
  </main>
</Layout>
