---
import AnimatedText from "../common/animated-text";
import EmailButton from "../common/email-button";

const title =
  "A full-stack developer focused on building user-centric software solutions for businesses.";

const animation = {
  hidden: {
    opacity: 0,
    y: 20,
  },
  visible: {
    opacity: 1,
    y: 0,
    transition: {
      duration: 0.05,
    },
  },
};
---

<section
  class='flex flex-col gap-2 items-center justify-center w-full mx-auto py-8 px-4'
>
  <div class='flex flex-col gap-4 items-center justify-center w-full'>
    <AnimatedText
      once
      text={title}
      el='h1'
      className='text-[36px] max-w-[600px] font-[600] text-left'
      animation={animation}
      client:load
    />

    <p class='text-[16px] text-left text-gray-600 max-w-[600px] font-[400]'>
      I'm a full-stack developer with a year of experience creating user-focused
      solutions using TypeScript, Node.js, React, and PostgreSQL. I am
      passionate about crafting software that addresses real-world challenges
      and drives business growth.
    </p>
  </div>

  <div
    class='flex flex-col md:flex-row gap-4 mt-4 items-center justify-start w-full md:w-[600px]'
  >
    <div
      class='tooltip tooltip-top hover:-translate-y-0.5 transition-transform font-bold w-full md:w-3/4'
      data-tip='Make your ideas a reality 😉'
    >
      <a
        href='/contact'
        class='badge badge-lg py-6 px-4 bg-black hover:bg-gray-700 text-white hover:-translate-y-0.5 transition-transform font-bold'
      >
        Open for Work - Let's Talk
      </a>
    </div>

    <ul
      class='flex w-full justify-center items-center md:justify-center gap-4 md:gap-6'
    >
      <li class='hover:scale-110 transition-transform hover:text-[#FFC107]'>
        <div
          class='p-0 transition-transform hover:scale-105 tooltip'
          data-tip='My Github Profile'
        >
          <a
            href='https://github.com/Ripdiegozz'
            target='_blank'
            class='text-4xl'
            aria-label='My Github Profile'
          >
            <i class='fa-brands fa-github'></i>
          </a>
        </div>
      </li>
      <li class='hover:scale-110 transition-transform hover:text-[#FFC107]'>
        <div
          class='p-0 transition-transform hover:scale-105 tooltip'
          data-tip='My Linkedin'
        >
          <a
            href='https://www.linkedin.com/in/dagadev/'
            target='_blank'
            class='text-4xl'
            aria-label='My Linkedin'
          >
            <i class='fa-brands fa-linkedin'></i>
          </a>
        </div>
      </li>
      <li
        class='hover:scale-110 transition-transform hover:text-[#FFC107]'
        aria-label='Mail me :)'
      >
        <EmailButton client:load />
      </li>
      <li class='hover:scale-110 transition-transform hover:text-[#FFC107]'>
        <div
          class='p-0 transition-transform hover:scale-105 tooltip'
          data-tip='My Twitter'
        >
          <a
            href='https://x.com/rip_diegozz'
            target='_blank'
            class='text-4xl'
            aria-label='My Twitter'
          >
            <i class='fa-brands fa-x-twitter'></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
