---
import EmailButton from "../common/email-button";


---

<div class='mx-auto w-full py-2 px-8'>
  <h2 class='text-2xl py-2 font-bold text-center'>
    Contact <span class='text-[#FFD700]'>Me</span> 
  </h2>

  <div class='w-full flex items-center justify-center contact'>
    <div class='w-full flex items-center justify-center'>
      <ul
        class='flex w-full justify-center items-center md:justify-center gap-6 mt-2 md:gap-10 reveal'
      >
        <li class='hover:scale-110 transition-transform hover:text-[#FFD700]'>
          <div
            class='p-0 transition-transform hover:scale-105 tooltip'
            data-tip='My Github Profile'
          >
            <a
              href='https://github.com/Ripdiegozz'
              target='_blank'
              class='text-4xl'
              aria-label='My Github Profile'
            >
              <i class='fa-brands fa-github'></i>
            </a>
          </div>
        </li>
        <li class='hover:scale-110 transition-transform hover:text-[#FFD700]'>
          <div
            class='p-0 transition-transform hover:scale-105 tooltip'
            data-tip='My Linkedin'
          >
            <a
              href='https://www.linkedin.com/in/dagadev/'
              target='_blank'
              class='text-4xl'
              aria-label='My Linkedin'
            >
              <i class='fa-brands fa-linkedin'></i>
            </a>
          </div>
        </li>
        <li
          class='hover:scale-110 transition-transform hover:text-[#FFD700]'
          aria-label='Mail me :)'
        >
          <EmailButton client:load />
        </li>
        <li class='hover:scale-110 transition-transform hover:text-[#FFD700]'>
          <div
            class='p-0 transition-transform hover:scale-105 tooltip'
            data-tip='My Twitter'
          >
            <a
              href='https://x.com/rip_diegozz'
              target='_blank'
              class='text-4xl'
              aria-label='My Twitter'
            >
              <i class='fa-brands fa-x-twitter'></i>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  const emailAdress = "diegogarciag63@gmail.com";

  function copyEmail() {
    navigator.clipboard.writeText(emailAdress);
    alert("Email copied to clipboard!");
  }

  document
    .getElementById("mailButtonContact")
    ?.addEventListener("click", copyEmail);

  // @ts-expect-error - ScrollReveal is defined in the global scope
  ScrollReveal().reveal(".contact", {
    delay: 150,
  });
</script>
